* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rajdhani", sans-serif;
  outline: none;
  border: none;
  list-style: none;
}

:root {
  --black-color: #000;
  --bg-color: #33d9b3;
  --bg-container-color: #3e3e3e;
  --title-color: #45d4ae;
  --white-color: #fff;
  --green-color: #27a844;
  --grey-color: #6b757e;
  --input-bg-color: #d9d9d9;
}

/* .average_grade_container {
    display: none;
} */

.total-container {
  display: none;
}
.total-container.active {
  display: block;
}

.calculated_container {
  position: relative;
  display: none;
}
/* button style */
input[type="submit"],
#calc {
  font-weight: 500;
}

/* student Id start */
.stud-name,
.roll-num {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.stud-name label,
.roll-num label {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #666;
}
.stud-name input,
.roll-num input {
  width: 95%;
  height: 40px;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  border: 1px solid #ccc;
  margin-right: 10px;
  padding-left: 10px;
  border-radius: 4px;
}
/* Student id end */

/* form style start */
.name-cont label,
.subject-mark-cont label,
.obt-mark-cont label {
  font-size: 15px;
  font-weight: 600;
  color: #666;
}
.name-cont {
  width: 45%;
  margin-right: 10px;
}
.subject-mark-cont {
  width: 25%;
  margin: 10px;
}

.obt-mark-cont {
  width: 25%;
  margin-right: 35px;
}

.sub-name,
.obt-mark,
.subject-mark {
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}

.sub,
.marks {
  list-style: none;
  font-size: 22px;
  font-weight: 500;
}
/* .collection {
    position: relative;
} */
.delete-item {
  position: absolute;
  font-size: 22px;
  top: 13px;
  right: 10px;
  color: blue;
  z-index: 100;
  cursor: pointer;
}

h3 span {
  margin-left: 20px;
}

/* table style start */
.table {
  display: none;
}

.table.display {
  display: block;
}

.collection {
  border: 3px solid #ddd;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: black;
  border-style: solid;
  border-width: 0;
}

.head-fst-row th {
  font-size: 18px;
  padding: 10px;
  text-align: center;
  border: 3px solid #ddd;
  border-collapse: collapse;
  background-color: #a9d08f;
}
.head-sec-row th {
  font-size: 18px;
  padding: 10px;
  text-align: center;
  border: 3px solid #ddd;
  border-collapse: collapse;
  background-color: #c7dfb5;
}
.head-sec-row .subject {
  width: 45%;
}
.head-sec-row .total-marks,
.head-sec-row .obt-marks,
.head-sec-row .status {
  width: 18%;
}

/* table body style */
/* .body-row {
    border: 3px solid inherit;
} */
.dis-name {
  text-transform: capitalize;
}

.body-row td {
  font-size: 18px;
  font-weight: 500;
  border-width: 3px;
  text-align: center;
}
.body-row:nth-of-type(odd) {
  background-color: #e2efdb;
}

.body-row .subject-name {
  font-weight: 600;
  text-transform: capitalize;
}
.footer-row td {
  font-size: 22px;
  font-weight: 500;
  border-width: 3px;
  text-align: center;
  border-top-width: 3px;
}

.result {
  display: none;
}

.result.active {
  display: contents;
  transition: all 0.3s ease-in-out;
}

/* table style end */

/* responsive */
@media screen and (max-width: 857px) {
  .form-control-1 {
    flex-wrap: wrap;
    justify-content: center;
  }

  .name-cont {
    width: 100%;
    margin-bottom: 10px;
    margin-right: 0;
  }
  .subject-mark-cont,
  .obt-mark-cont {
    width: 47%;
  }
  .subject-mark-cont {
    margin: 0 5px 0 0;
  }
  .obt-mark-cont {
    margin-left: 5px;
    margin-right: 0;
  }
}
